*.pyc
__init__.py
additional.condorConf
bin/MadGraph5_aMCatNLO/DY*j*/*
bin/Madgraph5_aMCatNLO/DY*j*
bin/MadGraph5_aMCatNLO/W*j*/*
bin/Madgraph5_aMCatNLO/W*j*
bin/Madgraph5_aMCatNLO/TT*j*/*
bin/Madgraph5_aMCatNLO/TT*j*

